
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');


@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');

body {
    font-family: Arial, sans-serif;
    text-align: center;
  }
  #search-form {
    margin: 20px;
  }
  #search-input {
    padding: 10px;
    width: 250px;
  }
  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 15px;
    margin-top: 20px;
  }
  .gallery-item {
    display: block;
    text-decoration: none;
    color: black;
  }
  .gallery img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  .info {
    font-size: 14px;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 5px;
    border-radius: 5px;
  }
  #loader {
    display: none;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background: rgba(0, 0, 0, 0.7);
    padding: 10px 20px;
    border-radius: 5px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
  }

  button {
    width: 75px;
    height: 40px;
    top: 332px;
    left: 28px;
    border-radius: 8px;
    padding-top: 8px;
    padding-right: 16px;
    padding-bottom: 8px;
    padding-left: 16px;
    gap: 10px;
    background-color: #4E75FF;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #6C8CFF;
  }
  
  #load-more {
    display: none; 
    margin: 20px auto; 
    display: block; 
    text-align: center; 
    padding: 10px 20px;
    font-size: 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  #load-more:hover {
    background-color: #0056b3;
  }
 
  